PORT = 
DB_URI = 
JWT_SECRET =

# Email Credentials
EMAIL_USER=
EMAIL_PASS=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Url
BASE_URL=
FRONTEND_URL=

# Resend API Key
RESEND_API_KEY=